---
import ProductSection from './ProductSection.astro';
import Software from '../../assets/home/software.png';
import BuyTrade from '../../assets/home/buytrade.png';
import OffersSavings from '../../assets/home/offersSavings.png';
import CustomerFinance from '../../assets/home/customerFinance.png';
import SoftwareOverlay from '../../assets/home/software_overlay.svg';
import BuyTradeOverlay from '../../assets/home/buytrade_overlay.svg';
import OffersSavingsOverlay from '../../assets/home/offersSavings_overlay.svg';
import CustomerFinanceOverlay from '../../assets/home/customerFinance_overlay.svg';
import { Image } from 'astro:assets';
---

<section class='content-wrapper py-15'>
	<div class='grid grid-cols-12 md:gap-y-15'>
		<ProductSection
			badgeText='TradeHelp Software'
			heading='Run your business from one app.'
			body='Save time and money with unlimited tools designed specifically for tradespeople.'
			href='/software'
			color='cyan'
			image={Software}
			imageAlt='TradeHelp Software'>
			<Image src={SoftwareOverlay} alt={''} loading='lazy' class='w-10/12 absolute left-0 bottom-0 z-10 -ml-1 -mb-1' />
		</ProductSection>

		<ProductSection
			badgeText='BuyTrade'
			heading='Find and order heating products in seconds.'
			body='Your one-stop-shop for plumbing & heating products from leading merchants.'
			href='/buytrade'
			color='buytrade'
			image={BuyTrade}
			imageAlt='BuyTrade Platform'
			imageRight={false}>
			<Image src={BuyTradeOverlay} alt={''} loading='lazy' class='h-10/12 w-auto absolute right-0 bottom-0 z-10 object-bottom-right -mr-1 -mb-1' />
		</ProductSection>

		<ProductSection
			badgeText='Offers & Savings'
			heading='Saving you money on products you already buy.'
			body='Using the combined buying power of our network to negotiate special offers and improved purchasing terms on your behalf.'
			href='/offers-savings'
			color='yellow'
			image={OffersSavings}
			imageAlt='Offers & Savings'>
			<Image
				src={OffersSavingsOverlay}
				alt={''}
				loading='lazy'
				class='h-7/12 w-auto absolute left-0 bottom-0 z-10 -ml-1 -mb-1'
			/>
		</ProductSection>

		<ProductSection
			badgeText='Customer Finance'
			heading='Help customers say yes to bigger jobs.'
			body='Become a TradeHelp Introducer Appointed Representative and win more business.'
			href='/customer-finance'
			color='magenta'
			image={CustomerFinance}
			imageAlt='Customer Finance'
			imageRight={false}>
			<Image
				src={CustomerFinanceOverlay}
				alt={''}
				loading='lazy'
				class='h-8/12 w-auto absolute right-0 bottom-0 z-10 -mr-1 -mb-1'
			/>
		</ProductSection>
	</div>
</section>
